{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>African brains: Home</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/materialize.css' %}"> -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
</head>

<body>

    {% block content%} {% endblock content %}

</body>


<!-- <script src="{% static 'css/materialize.js' %}"></script> -->
<script type="text/javascript" src="{% static 'css/materialize.min.js' %}"></script>

</html>